@import "../../scss/import.scss";
.popupCreateFile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($black-cl, 0.3);
  z-index: 1;
  @include flexCenter;
  &__wrapper {
    width: 420px;
    height: 230px;
    border-radius: 8px;
    background-color: $white-cl;
    position: relative;
    padding: 0 16px;
    label {
      margin-top: 50px;
      margin-bottom: 48px;
      .label {
        font-weight: 500;
        font-size: $fz-small;
        margin-bottom: 8px;
      }
      input {
        width: 100%;
        height: 40px;
        padding: 10px;
        outline: none;
        border: 1px solid $grey-light-cl;
        border-radius: 8px;
      }
      p {
        height: 1px;
        color: red;
        font-size: 12px;
        margin-top: 5px;
      }
    }
    &--button {
      display: flex;
      justify-content: flex-end;
      .mainButton {
        width: 126px;
      }
    }
    img {
      position: absolute;
      right: 16px;
      top: 16px;
      cursor: pointer;
    }
  }
}
