@import "../../scss/import.scss";
.checkboxItem {
  @include flexCenter(unset);
  cursor: pointer;
  &__square {
    @include flexCenter;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    border: 1px solid $grey-light-cl;
    border-radius: 2px;
    svg {
      display: none;
    }
    &.active {
      background-color: $blue-cl;
      svg {
        display: block;
      }
    }
  }
  .label {
    &.active {
      color: $black-cl;
    }
    font-size: $fz-small;
    font-weight: 500;
  }
}
