// color
$blue-cl: #1a48e9;
$red-cl: #e62614;
$green-cl: #27ae60;
$black-cl: #393b3d;
$black-light-cl: #434547;
$grey-cl: #888888;
$grey-light-cl: #e0e0e0;
$grey-opacity-cl: #fafafa;
$white-cl: #ffffff;

// transition
$t: 0.4s;
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

// font-size
$fz-small: 14px;
$fz-normal: 16px;
$fz-big: 20px;
$fz-bigger: 24px;
$fz-biggest: 32px;
